* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

table {
  border-collapse: collapse;
  border: none;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;

  thead {
    background-color: rgb(228 240 245);
  }

  tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }

  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-transform: capitalize;
  }
}

.action-btn {
  display: flex;
  gap: 0.5rem;

  button {
    cursor: pointer;
    padding: 0.2rem;
  }
}

.add-book {
  width: 450px;
  form {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    margin-bottom: 2rem;

    input {
      padding: 0.3rem;
      border-radius: 5px;
      border: 1px solid black;
    }

    button {
      align-self: center;
    }
  }
}
